<div>
  <form>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Click here to search countries" value="">
    </mat-form-field>
  </form>

  <table mat-table [dataSource]="countryList" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let country"> {{country.alpha3Code}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let country"><img src="{{country.flag}}" style="width: 20px">
        {{country.name}} </td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Time</th>
      <td mat-cell *matCellDef="let country">
        {{currentTime|date:'yyyy MMMM d, HH:mm': country.UTCOffset}} ({{country.UTCOffset}})</td>
    </ng-container>
    <ng-container matColumnDef="capital">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Capital</th>
      <td mat-cell *matCellDef="let country"> {{country.capital}} </td>
    </ng-container>
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
      <td mat-cell *matCellDef="let country"> {{country.region}} </td>
    </ng-container>
    <ng-container matColumnDef="nav">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let country"><a routerLink="/detail/{{country.alpha3Code}}">View Detail</a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

</div>