<div class="center">
    <h1>{{title}}</h1>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <a routerLink="/list">
                <h3>Country List</h3>
            </a>
            <p>Real Time Search</p>
            <p>Sorting Column</p>

        </div>
    </div>

    <div class="column">
        <div class="card">
            <a routerLink="/barChart">
                <h3>Top 10 Populated Countries</h3>
            </a>
            <p>Bar Chart</p>
            <p>Based on Chart.js</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <app-message></app-message> -->