<div>
  <mat-tab-group>

    <mat-tab label="Basic Information">
      <ng-template matTabContent>
        <mat-form-field appearance="outline">
          <mat-label>Population</mat-label>
          <input matInput placeholder="Placeholder" readonly="true" value="{{country.population}}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Gini</mat-label>
          <input matInput placeholder="Placeholder" readonly="true" value="{{country.gini}}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>nativeName</mat-label>
          <input matInput placeholder="Placeholder" readonly="true" value="{{country.nativeName}}">
        </mat-form-field>
      </ng-template>
    </mat-tab>

    <mat-tab label="Currency Detail">

    </mat-tab>

    <mat-tab label="Language Detail">

    </mat-tab>

  </mat-tab-group>
</div>