<div>
  <mat-tab-group>

    <mat-tab label="Basic Information">
      <ng-template matTabContent>
        <mat-form-field appearance="outline">
          <mat-label>Population</mat-label>
          <input matInput placeholder="Placeholder" readonly="true" value="{{country.population}}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Gini</mat-label>
          <input matInput placeholder="Placeholder" readonly="true" value="{{country.gini}}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>nativeName</mat-label>
          <input matInput placeholder="Placeholder" readonly="true" value="{{country.nativeName}}">
        </mat-form-field>
      </ng-template>
    </mat-tab>

    <mat-tab label="Currency Detail">
      <div>
        <table mat-table [dataSource]="currencies" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let currency"> {{currency.code}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let currency"> {{currency.name}} </td>
          </ng-container>
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let currency"> {{currency.symbol}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="currencyDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: currencyDisplayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Language Detail">

    </mat-tab>

  </mat-tab-group>
</div>